<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <title>Company</title>
</head>

<body>
    <!-- Header -->
    <div class="header">
        <h1>Company</h1>
        <p>Welcome!</p>
    </div>
    <!-- Nav Bar -->
    <div class="navbar">
        <a href="#">HOME</a>
        <a href="#">ABOUT</a>
        <a href="#">SERVICES</a>
        <a href="#">SHOP</a>
        <a href="#">BLOG</a>
        <a href="#">CONTACT</a>
        <a href="./admin/register.html" class="right">SIGN UP</a>
        <a href="./admin/login.html" class="right">LOGIN</a>
    </div>
    <!-- Content -->
    <div class="content">
        <!-- Line -->
        <div class="row">
            <!-- Column -->
            <div class="column">
                <!-- Card -->
                <div class="card">
                    <p class="title">Title</p>
                    <div class="fakeimage" style="font-size: small;">Image</div>
                    <p class="description">Description about the subject.</p>
                    <a href="#" class="readmore">Action &gt;&gt;</a>
                </div>
            </div>
            <!-- Column -->
            <div class="column">
                <!-- Card -->
                <div class="card">
                    <p class="title">Title</p>
                    <div class="fakeimage" style="font-size: small;">Image</div>
                    <p class="description">Description about the subject.</p>
                    <a href="#" class="readmore">Action &gt;&gt;</a>
                </div>
            </div>
            <!-- Column -->
            <div class="column">
                <!-- Card -->
                <div class="card">
                    <p class="title">Title</p>
                    <div class="fakeimage" style="font-size: small;">Image</div>
                    <p class="description">Description about the subject.</p>
                    <a href="#" class="readmore">Action &gt;&gt;</a>
                </div>
            </div>
            <!-- Column -->
            <div class="column">
                <!-- Card -->
                <div class="card">
                    <p class="title">Title</p>
                    <div class="fakeimage" style="font-size: small;">Image</div>
                    <p class="description">Description about the subject.</p>
                    <a href="#" class="readmore">Action &gt;&gt;</a>
                </div>
            </div>
        </div>
        <!-- Line -->
        <div class="row">
            <!-- Column -->
            <div class="column">
                <!-- Card -->
                <div class="card">
                    <p class="title">Title</p>
                    <div class="fakeimage" style="font-size: small;">Image</div>
                    <p class="description">Description about the subject.</p>
                    <a href="#" class="readmore">Action &gt;&gt;</a>
                </div>
            </div>
            <!-- Column -->
            <div class="column">
                <!-- Card -->
                <div class="card">
                    <p class="title">Title</p>
                    <div class="fakeimage" style="font-size: small;">Image</div>
                    <p class="description">Description about the subject.</p>
                    <a href="#" class="readmore">Action &gt;&gt;</a>
                </div>
            </div>
            <!-- Column -->
            <div class="column">
                <!-- Card -->
                <div class="card">
                    <p class="title">Title</p>
                    <div class="fakeimage" style="font-size: small;">Image</div>
                    <p class="description">Description about the subject.</p>
                    <a href="#" class="readmore">Action &gt;&gt;</a>
                </div>
            </div>
            <!-- Column -->
            <div class="column">
                <!-- Card -->
                <div class="card">
                    <p class="title">Title</p>
                    <div class="fakeimage" style="font-size: small;">Image</div>
                    <p class="description">Description about the subject.</p>
                    <a href="#" class="readmore">Action &gt;&gt;</a>
                </div>
            </div>
        </div>
        <!-- Line -->
        <!-- Line -->
        <!-- Line -->
    </div>
    <!-- Footer -->
    <div class="footer">
        <p>Company</p>
        <p class="links">
            <a href="#">HOME</a>
            <a href="#">ABOUT</a>
            <a href="#">CONTACT</a>
        </p>
        <p class="copyright">
            &copy; Copyright &copy; 2024. Company name all rights reserved.
        </p>
    </div>
</body>

</html>